! General settings
UXTerm*termName: xterm-256color
UXTerm*saveLines: 5000
UXTerm*loginshell: False
UXTerm*cursorBlink: False

! Scrollbar
UXTerm*scrollBar: False
UXTerm*rightScrollBar: False


! Fix alt-key inputting
UXTerm*eightBitInput: False
UXTerm*metaSendsEscape: True

! Copy and paste with clipboard
UXTerm*translations: #override \
    Ctrl Shift <KeyPress> C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <KeyPress> V: insert-selection(CLIPBOARD)

! Trim trailing spaces
UXTerm*trimSelection: true

! Fonts and Encoding
UXTerm*utf8: True
UXTerm*locale: True
UXTerm*utf8Title: True
UXTerm*renderFont: True
UXTerm*preeditType: Root
UXTerm*xftAntialias: True
UXTerm*faceName: xft:Terminus-10
!UXterm*faceSize: 10

! Allow selecting email/url by double-click
UXTerm*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48

! set colors
UXTerm*background: black
UXTerm*foreground: white
UXTerm*color0: rgb:00/00/00
UXTerm*color1: rgb:a8/00/00
UXTerm*color2: rgb:00/a8/00
UXTerm*color3: rgb:a8/54/00
UXTerm*color4: rgb:00/00/a8
UXTerm*color5: rgb:a8/00/a8
UXTerm*color6: rgb:00/a8/a8
UXTerm*color7: rgb:a8/a8/a8
UXTerm*color8: rgb:54/54/54
UXTerm*color9: rgb:fc/54/54
UXTerm*color10: rgb:54/fc/54
UXTerm*color11: rgb:fc/fc/54
UXTerm*color12: rgb:54/54/fc
UXTerm*color13: rgb:fc/54/fc
UXTerm*color14: rgb:54/fc/fc
UXTerm*color15: rgb:fc/fc/fc
UXTerm*boldMode: false
UXTerm*colorBDMode: true
UXTerm*colorBD: rgb:fc/fc/fc
UXTerm*dynamicColors: true